<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>vaccine booking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>admin</display-name>
    <servlet-name>admin</servlet-name>
    <servlet-class>vaccine.admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>vaccine.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHospital</display-name>
    <servlet-name>AddHospital</servlet-name>
    <servlet-class>vaccine.AddHospital</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHospital</servlet-name>
    <url-pattern>/AddHospital</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>vaccine.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>vaccine.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Animal</display-name>
    <servlet-name>Animal</servlet-name>
    <servlet-class>vaccine.Animal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Animal</servlet-name>
    <url-pattern>/Animal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hospital</display-name>
    <servlet-name>Hospital</servlet-name>
    <servlet-class>vaccine.Hospital</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hospital</servlet-name>
    <url-pattern>/Hospital</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Camp</display-name>
    <servlet-name>Camp</servlet-name>
    <servlet-class>vaccine.Camp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Camp</servlet-name>
    <url-pattern>/Camp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Form</display-name>
    <servlet-name>Form</servlet-name>
    <servlet-class>vaccine.Form</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form</servlet-name>
    <url-pattern>/Form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Question</display-name>
    <servlet-name>Question</servlet-name>
    <servlet-class>vaccine.Question</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Question</servlet-name>
    <url-pattern>/Question</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Answer</display-name>
    <servlet-name>Answer</servlet-name>
    <servlet-class>vaccine.Answer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Answer</servlet-name>
    <url-pattern>/Answer</url-pattern>
  </servlet-mapping>
</web-app>